@layer sintacks.tokens {
  :root {
    --shadow-color: rgb(15 23 42 / 8%);
    --shadow-color-md: rgb(15 23 42 / 12%);
    --shadow-color-lg: rgb(15 23 42 / 18%);
    --shadow-xs: 0 1px 2px var(--shadow-color);
    --shadow-sm: 0 1px 3px var(--shadow-color), 0 1px 2px rgb(15 23 42 / 6%);
    --shadow-md: 0 4px 6px -1px var(--shadow-color), 0 2px 4px -2px var(--shadow-color-md);
    --shadow-lg: 0 10px 24px -3px var(--shadow-color-md), 0 4px 8px -4px var(--shadow-color-lg);
  }
}
