.root {
  display: inline-flex;
  inline-size: var(--icon-size-md);
  block-size: var(--icon-size-md);
  flex: 0 0 auto;
  color: currentColor;

  &[data-size="xs"] {
    inline-size: var(--icon-size-xs);
    block-size: var(--icon-size-xs);
  }

  &[data-size="sm"] {
    inline-size: var(--icon-size-sm);
    block-size: var(--icon-size-sm);
  }

  &[data-size="lg"] {
    inline-size: var(--icon-size-lg);
    block-size: var(--icon-size-lg);
  }

  &[data-size="xl"] {
    inline-size: var(--icon-size-xl);
    block-size: var(--icon-size-xl);
  }

  &[data-size="2xl"] {
    inline-size: var(--icon-size-2xl);
    block-size: var(--icon-size-2xl);
  }
}
