@layer sintacks.tokens {
  :root {
    --chart-1: var(--primitive-indigo-600);
    --chart-2: var(--primitive-violet-600);
    --chart-3: var(--primitive-cyan-500);
    --chart-4: var(--primitive-amber-500);
    --chart-5: var(--primitive-green-600);
    --chart-6: var(--primitive-red-600);
    --chart-7: var(--primitive-slate-500);
  }
}
